body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:81px;
  width:473px;
  height:954px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:63px;
  background:inherit;
  background-color:rgba(174, 195, 224, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:187px;
  width:414px;
  height:63px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:49px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:188px;
  width:413px;
  height:49px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:213px;
  width:30px;
  height:30px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:218px;
  width:37px;
  height:25px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:25px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:219px;
  width:19px;
  height:25px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:260px;
  width:61px;
  height:21px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  background:inherit;
  background-color:rgba(20, 133, 238, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:290px;
  width:52px;
  height:52px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:303px;
  width:110px;
  height:27px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:304px;
  width:96px;
  height:29px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:306px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:62px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:863px;
  width:414px;
  height:62px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(139, 156, 172, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:874px;
  width:326px;
  height:41px;
  font-size:20px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:879px;
  width:293px;
  height:31px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#BFCDDA;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:293px;
  word-wrap:break-word;
}
#u1087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:877px;
  width:38px;
  height:35px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
