body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:554px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:81px;
  width:473px;
  height:954px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:123px;
  background:inherit;
  background-color:rgba(174, 195, 224, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:187px;
  width:414px;
  height:123px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:49px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:188px;
  width:413px;
  height:49px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:213px;
  width:30px;
  height:30px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:262px;
  width:398px;
  height:36px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:218px;
  width:37px;
  height:25px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:273px;
  width:16px;
  height:16px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#8E8E93;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:269px;
  width:33px;
  height:25px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#8E8E93;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:25px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:219px;
  width:19px;
  height:25px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:66px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:514px;
  width:79px;
  height:66px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#AEC3E0;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:590px;
  width:145px;
  height:25px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#AEC3E0;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
