body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:520px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:2px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:70px;
  width:441px;
  height:1px;
  color:#1E1E1E;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-8px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:528px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:112px;
  width:450px;
  height:528px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:13px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
